body{
    background-image: url(fondo.jpg);
    margin:0;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form{
    display:flex;
    flex-direction: column;
    justify-content:center;
}
h2{
    font-size:30px;
}
.contenedor-login{
    width: 800px;
    min-width: 300px;
    height: 400px;
    padding: 0 auto;
    background-color:white;
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius: 32px;
}
::placeholder {
    color: #8D8D8D;
  }

.contenedor-login input{
    height: 68px;
    width:410px;
    border-radius: 34px;
    border-color: #981B15;
    font-size: 24px;
    color: #8D8D8D;
    margin-top:10px;
}

.botonEnviar{
    height: 68px;
    width:410px;
    border-radius: 34px;
    background-color: #981B15 !important;
    color:white !important; 
    border: none;
    font-size: 24px;
    cursor:pointer;
}
.botonC{
    text-decoration: none;
    color: white;
    background-color: #981B15;
    border-radius: 30px;
    margin-top: 20px;
    width: 200px;
    height: 35px;
    text-align: center;
}